body {
  font-family: sans-serif;
}

.coinDataTable {
  text-align: center;
  width: 80%;
  border: 1px solid black;
}

.coinDataTable tr {
  border-bottom: 1px solid black;
}

.coinDataTable tr td,
.coinDataTable tr th {
  padding: 10px 10px;
}
.coinDataTable tr th {
  font-weight: 600;
  color: white;
  background-color: rgb(12, 33, 77);
  border-right: 1px solid white;
  border-bottom: 1px solid black;
}
.coinDataTable tr td {
  background-color: rgb(191, 211, 253);
  border-right: 1px solid black;
  border-bottom: 1px solid black;
}

.hidden {
  display: none;
}
